<!doctype html>
<html ng-app="irth" class="sepia" ng-style="{maxWidth:'100%', overflow:'hidden', minHeight: '600px', minWidth:'400px'}">

<head>

    <title>Life</title>
    <meta http-equiv='Content-Language' content='en'/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="google-site-verification" content="CDpJG3_u2n4y9OhYevskX6raVSFo1uTeTY2iyLwt6Zo"/>

    <link rel="stylesheet" href="css/style.css"/>
<!--     <link rel="stylesheet" href="css/foundation.css"/>
 -->    <link rel="shortcut icon" href="favicon.ico">

</head>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
<script src="js/irth.js"></script>


<body ng-model-options="{debounce:500}" ng-controller="ctrl" ng-init="backgroundsImg = 'images/tracks.jpg'"
      style="background: url('{{backgroundsImg}}') center center no-repeat fixed; background-size: cover;"
      ng-style="dimensions">

<div ng-style="{display:'flex', justifyContent:'space-around', alignItems:'center', width:'100%', background:'rgba(0,0,0,.5)', height:'10vh', position:'fixed', top:0, left:0, right:0, color:'white'}">

            <!-- <button ng-click="show.agenda = true; hideAll(); beGone['task'] = '';">+ Task</button>
            <button ng-click="show.agenda = true; hideAll(); beGone['entry'] = '';">+ Entry</button> -->

            <a ng-click="hideAll(); ui.showEntry = !ui.showEntry; beGone[nav] = ''; ui.currentLife(nav)" ng-repeat="(nav, navKey) in data.constants.lifestyleDescriptions">{{nav}}</a>

            	<button ng-click="show.settings = !show.settings">Settings</button>
            	<button ng-show="authObj.$getAuth()" class="" ng-click="authObj.$signOut(); reload()">Log out</button>

</div>

<div class="settings"  style="padding:9vh; overflow:scroll" ng-if="show.settings">

        <h1 class="">Background Images</h1>

        <div class="">
            <input id="newUrl" type="url" ng-model="newUrl" placeholder="Paste image url here"
                   style="color:white; background:rgba(0,0,0,.38);"></div>
        <div class="">
            <button class="button success column small-12"
                    ng-click="api.add['backgrounds'](newUrl); $parent.backgroundsImg=newUrl; newUrl=''; ">
                Add Image
            </button>
        </div>

    <ul class="row panel" style="display:flex; flex-wrap:wrap; overflow:scroll; max-height:72vh">
        <li style:"width:18vh; flex:1 1 auto; display:flex;" class="" ng-repeat="(key,img) in syncBackgroundsObject"
            style="list-style:none">
            <div style="display:flex; flex-direction:column" class="panel">
                <img ng-src="{{img}}" style="height:18vh; width:18vh;">
                <a class="black small" ng-click="$parent.removeBackgrounds(key)">Remove</a>
                <a class="button info" ng-click="$parent.$parent.backgroundsImg = img">Set</a>
            </div>
        </li>
    </ul>
</div>
<div ng-if="!authData.uid">

    <div >
        <div >
            <h2 class="text-center">I'm an app to keep you on track</h2>

            <p class="text-center" ng-click="show.about = !show.about">Please register or log in to get started
                <span><b>...</b>
                <span ng-show="show.about">
                    This app is intended to help you track daily activities. It is in a very early alpha stage. Feedback sent to
                    <a href="mailto:irth.03+personalmanagement@gmail.com">irth</a>
                </span>
            </span></p>

        </div>
    </div>

    <div class="row" style="display:flex;">
        <form style="flex: 1 1 auto" name="reg" class="column medium-4" ng-submit="register(reg.email, reg.password)"
              ng-show="location.$$absUrl !== '' && !authObj.$getAuth()">
            <h1>Register</h1>
            <input ng-model="reg.email" type="email" placeholder="Email"/>
            <input ng-model="reg.password" type="password" placeholder="password"/>
            <button class="info" type="submit">Register</button>
        </form>


        <form style="flex: 3 1 auto" name="login" class="column medium-4 panel"
              ng-submit="auth(login.email, login.password)"
              ng-show="location.$$absUrl !== '' && !authObj.$getAuth()">
            <h1>Log in</h1>
            <input ng-model="login.email" type="email" placeholder="Email"/>
            <input ng-model="login.password" type="password" placeholder="password"/>
            <button class="success" type="submit">Log in</button>
        </form>

        <!--<div ng-init="socPro = ['facebook', 'google', 'github', 'twitter']">
            <div ng-repeat="pro in socPro">
                <button ng-click="oAuth(pro)">{{pro}}</button>
            </div>
        </div>-->
    </div>
</div>

<div ng-show="authData.uid">
    <div ng-if="!showCurrent" ng-style="{display:'flex', flexWrap:'wrap', maxHeight:'90vh', overflow:'scroll', padding:'9vh 0'}">
        <div ng-if="ui.showEntry" class="" style="position: absolute; right:0; z-index: 999; background: rgba(0,0,0,.81);" ng-class="{blur: $root.private}">
            <div ng-repeat="life in lifestyle" class="row">
                <div style="padding:1px; height:90vh; display:flex; {{beGone[life]}}">
                    <form class="small-12 column panel current" style="height:90vh; overflow: scroll; padding:1em;" id="{{life}}"
                          ng-submit="$parent.api.add[life](new[life]); new[life]={}; ui.showEntry = false;">
                        <h5><b>{{lifestyleDescription[life]}}</b></h5>
                        <div class="row" ng-if="life !== 'day'">
                            <div class="large-8 column">
                                <h3>
                                    <input
                                            type="text"
                                            ng-model="new[life].name"
                                            placeholder="Name this {{life}}"
                                            x-webkit-speech="true"/>
                                </h3>
                            </div>
                            <div class="large-12 column" ng-show="life !== 'event'">
                                <textarea
                                        type="text"
                                        ng-model="new[life].details"
                                        placeholder="Enter {{life}} details"
                                        ng-style="{minHeight:(new[life].details.length*0.6)+'px'}">
                                </textarea>
                            </div>
                        </div>

                        <div ng-if="life === 'day' || life === 'event' " class="row">
                            <div class="large-12 columns">
                                <textarea class="large-12 columns" type="text"
                                          ng-model="$parent.new[life].recap"
                                          placeholder="{{life}} recap"
                                          ng-style="{minHeight:(new[life].recap.length*0.6)+'px'}"></textarea>
                            </div>

                            <br/>

                            <div ng-if="life !== 'event'" class="large-12 columns">
                                <textarea   class="large-12 columns"
                                            type="text"
                                             ng-model="$parent.new[life].goals"
                                             placeholder="Next {{life}}'s goals"
                                             ng-style="{minHeight:(new[life].goals.length*0.6)+'px'}"></textarea>
                            </div>
                            <br/>
                        </div>
                        <div ng-if="life === 'fuel'" class="row">
                            <div name="fuel" class="panel"
                                 ng-init="nutrition.types = ['good carbs', 'bad carbs', 'protein', 'fibre', 'fats']; nutrition.amounts = [1,2,3,4,5]">
                                <div style="display:flex;" ng-repeat="type in nutrition.types">
                                    <div class="text-right" style="flex: 0 3 200px">
                                        <b>{{type}}: </b>
                                    </div>
                                    <div style="flex: 3 0 auto">
                                        <input type="range" min="0" max="100" ng-model="new[life].nutrition[type]"
                                               ng-init="new[life].nutrition[type]=0"/>
                                    </div>
                                    <hr ng-hide="$last"/>

                                </div>
                            </div>
                        </div>
                        <div ng-if="life === 'train'" class="row">
                            <div class="panel"
                                 ng-init="mode.types = ['cardio', 'strength', 'form', 'flex', 'mental', 'spiritual']; mode.amounts = [1,2,3,4,5]">
                                <div style="display:flex;" ng-repeat="type in mode.types">
                                    <div class="text-right" style="flex: 0 3 200px">
                                        <b>{{type}}: </b>
                                    </div>
                                    <div style="flex: 3 0 auto">
                                        <input type="range" min="0" max="100" ng-model="new[life].mode[type]"
                                               ng-init="new[life].mode[type]=0"/>
                                    </div>
                                    <hr ng-hide="$last"/>
                                </div>
                                <!--<tr ng-repeat="type in mode.types">
                                    <td><b>{{type}}</b></td>
                                    <td ng-repeat="amount in mode.amounts" style="text-align: center">
                                        <label for="{{$parent.type + amount}}"><b>{{amount}}</b></label>
                                        <input id="{{$parent.type + amount}}" type="radio"
                                               ng-model="$parent.$parent.$parent.new[life].mode[type]"
                                               value="{{amount}}"/>
                                    </td>
                                </tr>-->
                            </div>
                        </div>

                        <div class="row" ng-init="new[life].time = 0"
                             ng-if="life !== 'day' && life !== 'event' && life !== 'fuel' && life !== 'task' && life !== 'note' && life !== 'love' && life !== 'fear'">
                            <div class="large-3 column">
                                <input type="number" ng-model="new[life].minutes" placeholder="Minutes"
                                       ng-change="new[life].time = new[life].minutes;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 column">
                                <textarea
                                        type="text"
                                        ng-model="new[life].tags"
                                        placeholder="Tags separate by '#' or ', '">
                                </textarea>
                            </div>
                            <div class="large-4 column">
                                <label for="quality">Rate this {{life | uppercase}}
                                    <input
                                            id="quality"
                                            type="range"
                                            min="0"
                                            max="100"
                                            ng-model="new[life].quality"/>
                                </label>
                                <button class="button large alert expand" type="submit">Post new {{life}}</button>
                            </div>
                        </div>
                        <a style="color: white; padding: 1em" class="large info button exhttps://irthos.github.io/personalmanagementsystem/pand"
                       ng-click="pastEntries = !pastEntries">Show all {{life}}s</a>
                    </form>

                    <div ng-style="{display:'flex', overflow:'scroll', flexDirection:'column', maxHeight: '90vh'}">
                        <div ng-if="pastEntries" ng-style="{marginBottom:'5px'}" ng-repeat="(key, entry) in $parent[life] ">
                        <div class="panel past">

                            <input ng-if="entry.title" type="text" ng-model="entry.title"
                                   ng-click="showFullEntry = !showFullEntry"/>
                            <input ng-if="entry.name" type="text" ng-model="entry.name"
                                   ng-click="showFullEntry = !showFullEntry"/>
                            <hr/>
                            <div ng-if="showFullEntry">
                                <code ng-if="entry.time">{{entry.time}} minutes </code>

                                <div ng-if="entry.details">
                                    <label for="details">Details</label>
                                    <textarea id="details" ng-model="entry.details"
                                              ng-style="{minHeight:(entry.details.length*0.6)+'px'}"></textarea>
                                </div>
                                <div ng-if="entry.description">
                                    <label for="description">Description</label>
                                    <textarea id="description" ng-model="entry.description"
                                              ng-style="{minHeight:(entry.description.length*0.6)+'px'}"></textarea>
                                </div>
                                <div ng-if="entry.recap">
                                    <label for="recap">Daily recap</label>
                                    <textarea id="recap" ng-model="entry.recap"
                                              ng-style="{minHeight:(entry.recap.length*0.6)+'px'}"></textarea>
                                </div>
                                <div ng-if="entry.note">
                                    <textarea id="note" ng-model="entry.note"
                                              ng-style="{minHeight:(entry.note.length*0.6)+'px'}"></textarea>
                                </div>
                                <div ng-if="entry.hydrate">
                                    <input ng-model="entry.hydrate"/>
                                </div>
                                <div ng-if="entry.goals">
                                    <label for="goals">Future goals</label>
                                    <textarea ng-style="{minHeight:(entry.goals.length*0.6)+'px'}" id="goals"
                                              ng-if="entry.goals" ng-model="entry.goals"></textarea>
                                    <textarea id="goals" ng-if="entry.goals[0].name" ng-model="entry.goals[0].name"
                                              ng-style="{minHeight:(entry.goals[0].name.length*0.6)+'px'}"></textarea>
                                </div>
                                <div ng-if="entry.tags">
                                    <input type="text" ng-model="entry.tags"/>
                                </div>
                                <div ng-repeat="(key,mode) in entry.mode track by $index">
                                    {{key}}: <input type="text" ng-model="entry.mode[key]"/>
                                </div>
                                <div ng-repeat="(key,nutrition) in entry.nutrition track by $index">
                                    {{key}}: <input type="text" ng-model="entry.nutrition[key]"/>
                                </div>
                                <hr/>
                            </div>
                            <div ng-if="$parent.life === 'task'">
                                <button class="button secondary" ng-show="entry.done===false"
                                        ng-click="$parent.$parent.$parent.completeTask(key)">Do
                                </button>
                                <button class="button secondary" ng-show="entry.done!==false"
                                        ng-click="$parent.$parent.$parent.unCompleteTask(key)">Renew
                                </button>
                            </div>
                            <code>
                                {{entry.created | date:['shortTime']}}
                                {{entry.created | date:['mediumDate']}}
                            </code>

                            <div style="">
                                <a ng-show="!remove" ng-click="remove = true">x</a>
                                <a ng-show="remove" ng-click="remove = !remove">Cancel</a> |
                                <a ng-show="remove" ng-click="removeEntry(life,key)">Kill</a>
                                <a ng-click="$parent.new[life] = copy(entry);">Copy</a>
                                <button ng-show="!showFullEntry" ng-click="showFullEntry = !showFullEntry">More</button>
                                <a style="float:right;" ng-show="showFullEntry"
                                   ng-click="showFullEntry = !showFullEntry">Less</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-style="{display:'flex', flex:1, width:'100%',  flexDirection:'column',  minHeight:'280px', minWidth:'280px', padding:'1vh', margin: '1vh', background:'rgba(255,255,255,.93)'}" class="" ng-if="$last"
             ng-repeat="yesterday in $parent.day | limitTo:-1 ">
          
            <textarea ng-class="{blur: $root.private}" ng-model="yesterday.goals"
                      ng-focus="bigText = true;"
                      ng-blur="bigText = false;"
                      ng-style="{fontWeight:'bold',flex:'4', height:'90%', width:'100%'}"></textarea>
            <a ng-style="{background:'rgba(10,200,30, .8)', color:'white', padding:'2vh', display:'flex', justifyContent:'center', alignItems:'center', alignSelf:'flex-end'}"
                    ng-click="ui.showEntry = true; new.day.recap = yesterday.goals; hideAll(); beGone['day'] = ''; show.agenda = !show.agenda">
                LOG
            </a>
            <br>
        </div>
        <div ng-style="{flex:4, width:'100%', minWidth:'280px', padding:'1vh', margin: '1vh', background:'rgba(255,255,255,.93)'}">

            <div ng-style="{display:'flex', flexWrap:'wrap', justifyContent:'space-around' }" ng-class="{blur: $root.private}">
                <div ng-if="!task.done === true" ng-repeat="(key,task) in $parent.task" ng-style="{display:'flex', minWidth:'280px', flexDirection:'column', background:'rgba(255,255,255,.7)', margin:'0 0 3vh 0', border:'1px solid white', boxShadow:'darkgrey 2px 2px 18px 2px', flex:'1 1 45%'}">
					<div ng-style="{display:'flex', justifyContent:'space-between', padding:'1vh'}">	
                            <b ng-style="{}">{{task.name}}</b>
                            <a ng-style="{ color:'white', background:'red', padding:'2vh', display:'flex', justifyContent:'center', alignItems:'center'}"
                                    ng-click="ui.showEntry = true; completeTask(key); new[(entrySelection || 'action')].name = task.name; new[(entrySelection || 'action')].tags = task.tags; new[(entrySelection || 'action')].details = (task.description || task.details ); hideAll(); beGone[(entrySelection || 'action')] = ''; show.agenda = true">LOG
                        </a>
                        </div>
                            <!--<textarea ng-show="task.description" ng-model="task.description"
                                      ng-style="{minHeight:'90px', height:(task.description.length*2)+'px'}"></textarea>-->
                     <div ng-style="{display:'flex', justifyContent:'space-around'}">
                        <textarea

                                ng-model="task.details"
                                ng-focus="bigText = true;"
                                ng-blur="bigText = false;"
                                ng-style="{flex:4, minHeight:'20vh', maxHeight:'35vh', padding:'1vh'}">

                        </textarea>
                       
</div>
                            <!-- <select class="small" ng-model="entrySelection" name="entry-select" id="entry-select">
                                <option value="" disabled selected>Change Entry</option>
                                <option ng-show="selection==='action' || selection==='train'" ng-model="selection"
                                        ng-repeat="selection in $parent.lifestyle" value="{{selection}}">{{selection}}
                                </option>
                            </select> -->

                </div>
            </div>

        </div>
    </div>
</div>
<div ng-show="show.agenda && authData.uid" class="row">
    <div class="columns">
        
        

    </div>
</div>

<div ng-class="{blur: $root.private}" ng-init="show.note.big = $parent.show.note.big; newNote={}; newNote.note = note.note;" ng-style="style.note" ng-if="hide.note">
    <div style="
    display: flex;
    position: absolute;
    bottom: 58px;
    width: 100vw;
    height:78vh;
    ">
        <div style="
        display: flex;
        flex: 1 0 16%;
        bottom: 58px;
        flex-direction: column;
        width: {{editNotes ? '10%' : '37%'}};
        height:100%;
        max-height: 78%; padding:0 3px">
            <input
                    style="max-height:30px; flex: 0 0 45px; width: 95%; margin: 3px 0; padding:3px"
                    type="search"
                    ng-model="searchNote"
                    class=""
                    placeholder="Search Notes"/>

            <div
                    class=""
                    style="
                display: flex;
                overflow:scroll;
                flex-direction: column-reverse;
                align-items: stretch;
                min-height: 72vh;
                width: 100%; padding:3px 0 ">
                <a
                        ng-click="$parent.showNote = note.$id"
                        class=""
                        style="min-height:9vh; overflow:hidden; margin:0; padding:3px; background:rgba(0,0,0,.2); color:rgba(255,255,255,.8); border: 1px solid rgba(255,255,255,.4);"
                        ng-repeat="note in syncArray.note | filter:searchNote"
                        ng-show="note.note.length > 0">
                    <div
                            ng-init="$parent.$parent.showNote = note.$id"
                            ng-if="$last">
                    </div>
                    {{note.note}}...
                </a>
            </div>
        </div>

        <textarea ng-blur="editNotes = false;" ng-focus="editNotes = true;" ng-model="note[showNote].note" style="flex: 3 0 73%; height: 100%; padding:9px; margin:0 3px;"
                  autofocus></textarea>
    </div>

    <div style="height:45px;  flex: 0 0 100%; align-self: flex-end; width:100%; position:absolute; bottom:0">
        <span
                class="active"
                style="display:flex;">
            <button
                    style="flex: 1 1 auto; height: 45px"
                    class="alert button small-2 column"
                    ng-click="hide.note = !hide.note">
                <span ng-show="hide.note">Hide</span>
                <!--<span ng-show="!hide.note">Note</span>-->
            </button>
            <button
                    style="flex: 1 1 auto;  height:45px"
                    class="button info small-2 column"
                    ng-show="hide.note"
                    ng-click="api.add['note']({note:'New Note'}); showNote = Object.key($parent.note[$parent.note.length])">
                New Note
            </button>
        </span>

    </div>
</div>


<div
        ng-style="{position:'fixed', bottom:0, right: 0, zIndex:100001}"
        ng-show="authData.uid">
    <button
            ng-show="!hide.note"
            class="button alert"
            ng-click="hide.note = !hide.note">
        <span>Notes</span>
    </button>
    <button
            ng-show="!hide.note"
            class=""
            ng-click="$parent.$root.private = !$parent.$root.private">
        <span>Private Mode</span>
    </button>


</div>
<!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68563493-1', 'auto');
    ga('send', 'pageview');

</script>-->
</body>
</html>

